<div class="surface-section h-30rem bg-no-repeat bg-cover bg-center flex align-items-center"
     style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
     url(../../../assets/images/dashboard/homefront.jpg);">
    <div class="px-4 mx-4 lg:px-8 lg:mx-6">
        <span class="block text-3xl text-white mb-4">The Best Restaurant</span>
        <span class="block text-4xl font-medium text-white mb-4">Special In Town</span>
        <a tabindex="0" pRipple
           class="py-2 w-13rem text-center block mb-4 text-xl text-white font-medium border-2 cursor-pointer surface-border-0 border-round bg-white-alpha-30">
            Order Now
        </a>
    </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6">
            <img src="assets/images/dashboard/womanchef.jpg" alt="Image" class="w-full">
        </div>
        <div class="col-12 md:col-6 md:pl-6">
            <div class="p-3 inline-flex align-items-center surface-900 text-0 mb-4 font-medium"
                 style="border-radius: 30px">
                <i class="pi pi-star-fill mr-2"></i>
                <span>5 Star Food</span>
            </div>
            <div class="text-4xl font-bold text-900 mb-3">Good food, food mood</div>
            <div class="text-700 mb-5 line-height-3 mb-5">Our food is prepared with love, also of course with special
                ingredients
                crafted by our chef
            </div>

            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-green-600 mr-3"></i>
                <div>
                    <div class="text-900 font-medium mb-2">Love</div>
                    <div class="text-700 text-sm">We put passion and love to create the perfect food.</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-green-600 mr-3"></i>
                <div>
                    <div class="text-900 font-medium mb-2">Fresh</div>
                    <div class="text-700 text-sm">In order to achieve the best taste, we don't store frozen food.</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-green-600 mr-3"></i>
                <div>
                    <div class="text-900 font-medium mb-2">Quality</div>
                    <div class="text-700 text-sm">Every dishes and drink are re-checked before ready.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="surface-section grid grid-nogutter px-4 py-8 md:px-6 lg:px-8 bg-no-repeat bg-cover bg-center"
     style="background: url(assets/images/dashboard/dashboardqna.jpg);">
    <div class="col-12 lg:col-6 p-4 flex flex-column shadow-2 border-round"
         style="background: rgba(255, 255, 255, 0.9);">
        <div class="text-black-alpha-90 text-3xl font-bold mb-4">Frequent QnA</div>
        <p class="text-black-alpha-60 text-xl line-height-3">Frequently asked question and answer.</p>
        <a tabindex="0"
           class="cursor-pointer text-black-alpha-90 text-2xl font-medium mt-3 mb-2 py-3 flex justify-content-between w-full border-bottom-1 border-gray-200 hover:text-black-alpha-60 transition-duration-150"
           pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
           leaveActiveClass="slideup">
            Why i can't order ?<i class="pi pi-fw pi-plus text-3xl"></i></a>
        <div class="overflow-hidden transition-all transition-duration-400 transition-ease-in-out">
            <ul class="list-none">
                <li class="text-black-alpha-60 line-height-3 flex align-items-center mb-4"><i
                    class="pi pi-circle-fill mr-3" style="font-size:7px;"></i>
                    Make sure you already logged in. in the top right of your screen, if you are seeing "Create Account",
                    then please create account or login if you already created an account before</li>
                <li class="text-black-alpha-60 line-height-3 flex align-items-center my-4"><i
                    class="pi pi-circle-fill mr-3" style="font-size:7px;"></i>
                    Check your internet connection. Sometimes slow internet connection cause error.
                </li>
            </ul>
        </div>
        <a tabindex="0"
           class="cursor-pointer text-black-alpha-90 text-2xl font-medium mb-2 py-3 flex justify-content-between w-full border-bottom-1 border-gray-200 hover:text-black-alpha-60 transition-duration-150"
           pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
           leaveActiveClass="slideup">
            Can i have multiple orders ?
            <i class="pi pi-fw pi-plus text-3xl"></i></a>
        <div class="overflow-hidden hidden transition-all transition-duration-400 transition-ease-in-out">
            <ul class="list-none">
                <li class="text-black-alpha-60 line-height-3 flex align-items-center mb-4"><i
                    class="pi pi-circle-fill mr-3" style="font-size:7px;"></i>
                    No, you can only have 1 order at a time
                </li>
            </ul>
        </div>
        <a tabindex="0"
           class="cursor-pointer text-black-alpha-90 text-2xl font-medium mb-2 py-3 flex justify-content-between w-full border-bottom-1 border-gray-200 hover:text-black-alpha-60 transition-duration-150"
           pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
           leaveActiveClass="slideup">
            How i can change or edit my order ?
            <i class="pi pi-fw pi-plus text-3xl"></i></a>
        <div class="overflow-hidden hidden transition-all transition-duration-400 transition-ease-in-out">
            <ul class="list-none">
                <li class="text-black-alpha-60 line-height-3 flex align-items-center mb-4"><i
                    class="pi pi-circle-fill mr-3" style="font-size:7px;"></i>
                    You can change or edit the order before confirming your order, after that you can't.
                </li>
            </ul>
        </div>
    </div>
</div>
