<div class="surface-0">
    <div
        class="py-3 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static">
        <a class="flex align-items-center" href="#">
            <img src="assets/layout/images/{{config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="Sakai Logo"
                 height="50" class="mr-0 lg:mr-2">
            <!--            <span-->
            <!--            class="text-900 font-medium text-2xl line-height-3 mr-8">Self Service</span>-->
        </a>
        <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden"
           leaveToClass="hidden" [hideOnOutsideClick]="true">
            <i class="pi pi-bars text-4xl"></i>
        </a>
        <div
            class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static
             w-full left-0 px-6 lg:px-0 z-2"
            style="top:92%">
            <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
                <li>
                    <a pRipple
                       routerLink="/menu"
                       class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                        <span>Menu Book</span>
                    </a>
                </li>
                <li>
                    <a pRipple
                       class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                        <span>Waiting List</span>
                    </a>
                </li>
                <li>
                    <a pRipple
                       class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                        <span>Membership</span>
                    </a>
                </li>
                <li *ngIf="isLoggedIn()">
                    <a pRipple (click)="menu.toggle($event)"
                       class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                        <span>
                            <i class="pi pi-user mr-2"></i>
                            {{this.userAuthService.userInformation.user['username']}}
                            <i class="ml-2 pi pi-angle-down"></i>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border
            py-3 lg:py-0 mt-3 lg:mt-0 align-items-center">
                <button
                    *ngIf="!isLoggedIn()"
                    pButton pRipple [label]="'Login'"
                    (click)="openLoginDialog()"
                    class="p-button-text p-button-rounded border-none font-light line-height-2 mr-4"></button>
                <p-button icon="pi pi-shopping-cart" styleClass="p-button-rounded" label="Cart" badge="8"></p-button>

            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="showLoginDialog" [style]="{width: '450px'}" (onHide)="onHideDialog()"
          [modal]="true" class="p-fluid" [draggable]="false">
    <ng-template pTemplate="content">
        <div class="text-center mb-5">
            <img src="assets/demo/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">{{isRegisterMode ? "Register" : "Welcome Back" }}</div>
            <div class="flex align-items-center justify-content-center">
                <span class="text-600 font-medium line-height-3 mr-2">
                    {{isRegisterMode ? "Already have an account?" : "Don't have an account?" }}
                </span>
                <button pButton pRipple (click)="isRegisterMode = !isRegisterMode" class="p-button-text w-auto p-1"
                        [label]="isRegisterMode ? 'Login' : 'Register'">
                </button>
            </div>
        </div>

        <form [formGroup]="authForm">
            <div class="p-fluid p-formgrid grid">
                <div class="col-12">
                    <label for="email1" class="block text-900 font-medium mb-2">Email</label>
                    <input id="email1" type="text" pInputText formControlName="email"
                           [ngClass]="{'ng-invalid ng-dirty' : authForm.controls.email.errors &&
                                            (authForm.controls.email.touched || authForm.controls.email.dirty)}">
                    <div *ngIf="authForm.controls.email.errors && (authForm.controls.email.touched ||
                                       authForm.controls.email.dirty) ">
                        <div *ngIf="authForm.hasError('required','email')">
                            <small class="p-error">Email is required.</small>
                        </div>
                        <div *ngIf="authForm.hasError('email','email')">
                            <small class="p-error">Email format is invalid.</small>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="password1" class="block text-900 font-medium mb-2">Password</label>
                    <input id="password1" type="password" pInputText formControlName="password"
                           [ngClass]="{'ng-invalid ng-dirty' : authForm.controls.password.errors &&
                                            (authForm.controls.password.touched || authForm.controls.password.dirty)}">
                    <div *ngIf="authForm.controls.password.errors && (authForm.controls.password.touched ||
                                       authForm.controls.password.dirty) ">
                        <div *ngIf="authForm.hasError('required','password')">
                            <small class="p-error">Password is required.</small>
                        </div>
                        <div *ngIf="authForm.hasError('minLength','password')">
                            <small class="p-error">Password minimal length is 6.</small>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="flex align-items-center justify-content-between mb-3">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot
                            password?</a>
                    </div>
                </div>

                <div class="col-12">
                    <p-messages [value]="onLoginMsg"></p-messages>
                </div>

                <div class="col-12">
                    <button pButton pRipple (click)="onAuth()" [loading]="isAuthButtonLoading"
                            [label]="isRegisterMode ? 'Register':'Login' " icon="pi pi-user"
                            class="w-full"></button>
                </div>

            </div>

        </form>
    </ng-template>
</p-dialog>

<p-confirmDialog #cd [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                 [style]="{minWidth: '450px'}"
                 icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="cd.reject()"></button>
        <button pButton pRipple
                (click)="cd.accept()"
                icon="pi pi-check" class="p-button-text" label="Yes"
        ></button>
    </ng-template>
</p-confirmDialog>

<!-- on User Profile Name clicked-->
<p-tieredMenu #menu [model]="userMenu" [popup]="true"></p-tieredMenu>
