<!-- LOADING SPINNER -->
<div class="progress-spinner" *ngIf="isCheckingLoginStatus">
    <p-progressSpinner></p-progressSpinner>
</div>

<div
    class="bg-gray-900 px-3 sm:px-6 py-3 flex align-items-stretch justify-content-center sm:justify-content-end border-bottom-1 surface-border text-sm">
    <a pRipple (click)="openLoginOrLogoutDialog()"
       class="text-white font-medium inline-flex align-items-center cursor-pointer px-3 hover:text-gray-200">
        <i class="pi {{this.userAuthService.isLoggedIn ? 'pi-sign-out':'pi-sign-in'}} mr-2 sm:mr-3 text-sm"></i>
        <span>{{this.userAuthService.isLoggedIn ? 'Sign Out' : 'Sign In '}}</span>
    </a>
    <div class="text-white mx-1 sm:mx-2">|</div>
    <a pRipple class="text-white font-medium inline-flex align-items-center cursor-pointer px-3 hover:text-gray-200"
       (click)="this.userAuthService.isLoggedIn ? menu.toggle($event) : openLoginOrLogoutDialog()">
        <i class="pi pi-user mr-2 sm:mr-3 text-sm"></i>
        <span>{{this.userAuthService.isLoggedIn ? 'Profile' : 'Create Account'}}</span>
    </a>
</div>
<div class="surface-overlay shadow-1 px-3 sm:px-6 flex align-items-stretch relative" style="min-height: 80px">
    <a pRipple class="cursor-pointer flex align-items-center lg:hidden text-700 mr-3 sm:mr-5" pStyleClass="#nav-1"
       enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
        <i class="pi pi-bars text-4xl"></i>
    </a>
    <div class="flex align-items-center justify-content-center" routerLink="/">
        <img src="assets/images/blocks/logos/hyper.svg" alt="Image" class="lg:mr-6 h-2rem sm:h-3rem">
    </div>
    <div id="nav-1"
         class="surface-overlay hidden lg:flex absolute lg:static left-0 top-100 z-1 shadow-2 lg:shadow-none w-full lg:w-auto py-3 lg:py-0">
        <ul class="list-none p-0 m-0 flex flex-column lg:flex-row">
            <li class="flex flex-column lg:flex-row">
                <a pRipple class="inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent
                    hover:border-primary py-3 lg:py-0 px-6 lg:px-3 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto"
                   pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                    <span>Category</span>
                </a>
                <div
                    class="surface-overlay shadow-none lg:shadow-2 hidden lg:absolute w-full left-0 top-100 pl-8 pr-6 lg:px-6 py-0 lg:py-6">
                    <div class="flex flex-column lg:flex-row lg:justify-content-between">
                        <a pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                           class="font-medium text-700 text-lg cursor-pointer block lg:hidden mb-3 select-none">Clothing</a>
                        <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                            <li class="font-bold mb-5 text-xl text-900 hidden lg:block">Clothing</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Dresses</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Jeans</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Pants</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Skirts</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Sweaters</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Blouses</li>
                        </ul>
                        <a pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                           class="font-medium text-700 text-lg cursor-pointer block lg:hidden mb-3 select-none">Shoes</a>
                        <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                            <li class="font-bold mb-5 text-xl text-900 hidden lg:block">Shoes</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Athletic</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Boots</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Sneakers</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Flats</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Outdoor</li>
                        </ul>
                        <a pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                           class="font-medium text-700 text-lg cursor-pointer block lg:hidden mb-3 select-none">Accessories</a>
                        <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                            <li class="font-bold mb-5 text-xl text-900 hidden lg:block">Accessories</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Handbags</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Gloves</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Belts</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Hats</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Earmuffs</li>
                        </ul>
                        <a pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                           class="font-medium text-700 text-lg cursor-pointer block lg:hidden mb-3 select-none">Jewelry</a>
                        <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                            <li class="font-bold mb-5 text-xl text-900 hidden lg:block">Jewelry</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Anklets</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Bracelets</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Earrings</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Necklaces</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Rings</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Wedding</li>
                        </ul>
                        <a pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                           class="font-medium text-700 text-lg cursor-pointer block lg:hidden mb-3 select-none">Brands</a>
                        <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                            <li class="font-bold mb-5 text-xl text-900 hidden lg:block">Brands</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Hyper</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Peak</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Alfred</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Bastion</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Charot</li>
                            <li class="mb-3 cursor-pointer hover:text-900">Hodly</li>
                        </ul>
                        <ul class="list-none p-0 m-0 text-700">
                            <li class="mt-5 sm:mt-0 mb-5 flex flex-column align-items-center">
                                <img src="assets/images/blocks/ecommerce/storenavigation/storenavigation-1-1.png"
                                     alt="Image" style="border-radius:12px" class="w-full lg:w-auto">
                                <span class="inline-flex surface-0 text-900 px-3 py-2 border-round -mt-5 font-medium">New Products</span>
                            </li>
                            <li class="mb-5 flex flex-column align-items-center">
                                <img src="assets/images/blocks/ecommerce/storenavigation/storenavigation-1-2.png"
                                     alt="Image" style="border-radius:12px" class="w-full lg:w-auto">
                                <span class="inline-flex surface-0 text-900 px-3 py-2 border-round -mt-5 font-medium">Discounts</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="flex flex-column lg:flex-row" routerLink="/menu">
                <a pRipple class="inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent
                    hover:border-primary py-3 lg:py-0 px-6 lg:px-3 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto">
                    <span>Products</span>
                </a>
            </li>
            <li class="flex flex-column lg:flex-row">
                <a pRipple class="inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent
                    hover:border-primary py-3 lg:py-0 px-6 lg:px-3 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto">
                    <span>Membership</span>
                </a>

            </li>
        </ul>
    </div>
    <div class="flex ml-auto">
        <ul class="list-none p-0 m-0 flex">
            <li *ngIf="this.userAuthService.isLoggedIn" pStyleClass="#slideover-cart" enterClass="hidden"
                enterActiveClass="fadeinright" leaveToClass="hidden" leaveActiveClass="fadeoutright"
                [hideOnOutsideClick]="false">
                <a pRipple
                   class="flex px-6 p-3 h-full lg:px-3 lg:py-2 align-items-center text-600 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent hover:border-blue-500 font-medium cursor-pointer transition-colors transition-duration-150">
                    <i class="pi pi-shopping-cart text-base text-2xl mr-2 mr-0" pBadge severity="danger"
                       [value]="cartService?.cart?.cartOrderedProduct?.length.toString()"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- CART -->
<div id="slideover-cart" class="hidden surface-overlay absolute z-3 top-0 right-0 shadow-2 w-full md:w-30rem h-full">
    <div class="flex flex-column h-full">
        <div class="surface-100 p-3 flex">
            <button #closeSideCart id="closeSideCart" pButton pRipple icon="pi pi-chevron-right"
                    class="p-button-text p-button-rounded"
                    pStyleClass="#slideover-cart" leaveToClass="hidden" leaveActiveClass="fadeoutright"></button>
            <div class="border-right-1 border-300 mx-3"></div>
            <span class="text-900 text-xl font-medium inline-flex align-items-center ml-1">Your Cart</span>
        </div>
        <div class="flex-auto overflow-y-auto py-5 px-3 md:px-5">
            <div #allTheseThings
                 *ngFor="let orderedProduct of cartService?.cart?.cartOrderedProduct;let i = index; let last = last"
                 class="flex align-items-start sm:align-items-center mb-4">
                <img [lazyLoad]=" apiBaseUrl +'/'+ projectName +'/images/customer/product/download/file?' +
                                                'imageName=' + orderedProduct?.product?.images[0].imageName + '&' +
                                                'productId=' + orderedProduct?.product?.id "
                     class="w-6rem sm:w-8rem flex-shrink-0"/>
                <div class="flex-auto px-3">
                    <div class="flex align-items-center justify-content-between mb-3">
                        <span class="text-900 font-medium">{{orderedProduct.product.name}}</span>
                        <span
                            class="text-900 font-bold">{{orderedProduct.product.discountedPrice * orderedProduct.quantity
                            | currency:'Rp. ':'symbol':'3.0'}}</span>
                    </div>
                    <!--                    <div class="text-600 text-sm mb-3">Green | Small</div>-->
                    <div class="flex flex-auto justify-content-between align-items-center">
                        <div *ngIf="orderedProduct.product.active === false ||
                                       orderedProduct.product.deleted === true">
                            <span class="text-pink-500">Product is not available</span>
                        </div>
                        <p-inputNumber
                            *ngIf="orderedProduct.product.active === true &&orderedProduct.product.deleted === false"
                            [showButtons]="!cartService.cart.isPlacedInOrder"
                            [readonly]="cartService.cart.isPlacedInOrder"
                            [ngModel]="orderedProduct.quantity"
                            (onInput)="onChangeQuantityFromCart($event.value, orderedProduct.product.id, i)"
                            buttonLayout="horizontal" spinnerMode="horizontal" min="1"
                            inputStyleClass="w-3rem text-center py-2 px-1 border-transparent"
                            class="border-1 surface-border border-round"
                            decrementButtonClass="p-button-text py-1 px-1"
                            incrementButtonClass="p-button-text py-1 px-1" incrementButtonIcon="pi pi-plus"
                            decrementButtonIcon="pi pi-minus"></p-inputNumber>
                        <button *ngIf="!cartService.cart.isPlacedInOrder"
                                (click)="onDeleteFromCart(orderedProduct.product.name,orderedProduct.product.id, i)"
                                pButton pRipple icon="pi pi-trash"
                                class="p-button-danger p-button-text p-button-rounded"></button>
                    </div>
                </div>
            </div>

            <div *ngIf="cartService?.cart?.cartOrderedProduct?.length === 0"
                 class="surface-section px-4 py-8 md:px-6 lg:px-8">

                <div class="flex justify-content-center">
                    <img src="assets/empty-cart.png" width="200" height="200">
                </div>

                <p class="text-700 text-3xl mt-0 mb-6 text-center">Your cart is empty, begin order now :D</p>
                <div class="text-center">
                    <button type="button" pButton pRipple label="Choose Menu" icon="pi pi-shopping-bag"></button>
                </div>
            </div>

        </div>
        <div class="border-top-1 surface-border p-3">
            <div class="flex align-items-center justify-content-between mb-3">
                <span class="text-900 font-medium">Total Amount <span class="text-600 text-sm">incl. VAT</span></span>
                <span class="text-900 font-bold">{{cartService.totalPrice
                    | currency:'Rp. ':'symbol':'3.0'}}</span>
            </div>

            <div *ngIf="!cartService?.cart?.isPlacedInOrder;then content else other_content">here is ignored</div>

            <ng-template #content>
                <p-inplace #confirmOrder [active]="false"
                           [disabled]="!cartService?.cart?.cartOrderedProduct?.length">
                    <ng-template pTemplate="display">
                        <div class="inline-flex w-full">
                            <div class="grid align-items-center col-12">
                                <button [disabled]="!cartService?.cart?.cartOrderedProduct?.length" pButton pRipple
                                        class="p-button-success w-full" label="Place Order"></button>
                            </div>
                        </div>

                    </ng-template>
                    <ng-template pTemplate="content">
                        <div class="grid">
                            <div class="col-10">
                                <button [disabled]="!cartService?.cart?.cartOrderedProduct?.length" pButton pRipple
                                        (click)="onPlaceOrder()"
                                        [loading]="isPlaceOrderButtonLoading"
                                        class="p-button-success mb-3 w-full" label="Confirm Order"></button>
                            </div>
                            <div class="col-2">
                                <button pButton pRipple (click)="confirmOrder.active = false"
                                        class="p-button-danger mb-3 w-full" icon="pi pi-times"></button>
                            </div>
                        </div>
                        <div class="text-center">
                            Please double check your order, to make sure everything is correct
                        </div>
                    </ng-template>
                </p-inplace>
            </ng-template>
            <ng-template #other_content>
                <button routerLink="/order-pending" (click)="closeSideCart.click()" pButton pRipple
                        class="p-button-success mb-3 w-full"
                        label="Pay"></button>
            </ng-template>

        </div>
    </div>
</div>

<p-dialog [(visible)]="showResetPasswordDialog" [style]="{width: '450px'}" (onHide)="onHideResetPasswordDialog()"
          [modal]="true" class="p-fluid" [draggable]="false" header="Reset Password">
    <ng-template pTemplate="content">

        <form [formGroup]="resetPasswordForm">
            <div class="p-fluid p-formgrid grid">
                <div class="col-12">
                    <label for="email" class="block text-900 font-medium mb-2">Email</label>
                    <input id="email" type="text" pInputText formControlName="email"
                           [ngClass]="{'ng-invalid ng-dirty' : resetPasswordForm.controls.email.errors &&
                                            (resetPasswordForm.controls.email.touched || resetPasswordForm.controls.email.dirty)}">
                    <div *ngIf="resetPasswordForm.controls.email.errors && (resetPasswordForm.controls.email.touched ||
                                       resetPasswordForm.controls.email.dirty) ">
                        <div *ngIf="resetPasswordForm.hasError('required','email')">
                            <small class="p-error">Email is required.</small>
                        </div>
                        <div *ngIf="resetPasswordForm.hasError('email','email')">
                            <small class="p-error">Email format is invalid.</small>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <p-messages [value]="resetPasswordMsg"></p-messages>
                </div>

                <div class="col-12">
                    <button pButton pRipple (click)="onResetPassword()" [loading]="isResetPasswordButtonLoading"
                            [label]="'Reset Password'" icon="pi pi-user"
                            class="w-full"></button>
                </div>

            </div>

        </form>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showAuthDialog" [style]="{width: '450px'}" (onShow)="this.resetForm()"
          [modal]="true" class="p-fluid" [draggable]="false">
    <ng-template pTemplate="content">
        <div class="text-center mb-5">
            <img src="assets/demo/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">{{isRegisterMode ? "Register" : "Welcome Back" }}</div>
            <div class="flex align-items-center justify-content-center">
                <span class="text-600 font-medium line-height-3 mr-2">
                    {{isRegisterMode ? "Already have an account?" : "Don't have an account?" }}
                </span>
                <button pButton pRipple (click)="onChangeAuthMode()" class="p-button-text w-auto p-1"
                        [label]="isRegisterMode ? 'Login' : 'Register'">
                </button>
            </div>
        </div>

        <form [formGroup]="loginForm" *ngIf="!isRegisterMode">
            <div class="p-fluid p-formgrid grid">
                <div class="col-12">
                    <label for="loginEmail" class="block text-900 font-medium mb-2">Email</label>
                    <input id="loginEmail" type="text" pInputText formControlName="email"
                           [ngClass]="{'ng-invalid ng-dirty' : loginForm.controls.email.errors &&
                                            (loginForm.controls.email.touched || loginForm.controls.email.dirty)}">
                    <div *ngIf="loginForm.controls.email.errors && (loginForm.controls.email.touched ||
                                       loginForm.controls.email.dirty) ">
                        <div *ngIf="loginForm.hasError('required','email')">
                            <small class="p-error">Email is required.</small>
                        </div>
                        <div *ngIf="loginForm.hasError('email','email')">
                            <small class="p-error">Email format is invalid.</small>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="loginPassword" class="block text-900 font-medium mb-2">Password</label>
                    <p-password id="loginPassword" [feedback]="false" [toggleMask]="true"
                                styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                                [ngClass]="{'ng-invalid ng-dirty'
                    : loginForm.controls.password.errors && (loginForm.controls.password.touched || loginForm.controls.password.dirty)}"
                                formControlName="password"></p-password>
                    <div *ngIf="loginForm.controls.password.errors && (loginForm.controls.password.touched ||
                                                           loginForm.controls.password.dirty) ">
                        <div *ngIf="loginForm.hasError('required','password')">
                            <small class="p-error">Password is required.</small>
                        </div>
                        <div *ngIf="loginForm.hasError('minLength','password')">
                            <small class="p-error">Password minimal length is 6.</small>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="flex align-items-center justify-content-between mb-3">
                        <div class="flex align-items-center">
                            <p-checkbox inputId="loginRemember" [binary]="true"
                                        styleClass="mr-2"></p-checkbox>
                            <!--suppress XmlInvalidId -->
                            <label for="loginRemember">Remember me</label>
                        </div>
                        <a (click)="showResetPasswordDialog = true"
                           class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot
                            password?</a>
                    </div>
                </div>

                <div class="col-12">
                    <p-messages [value]="loginMsg"></p-messages>
                </div>

                <div class="col-12">
                    <button pButton pRipple (click)="onLogin()" [loading]="isLoginButtonLoading"
                            [label]="isRegisterMode ? 'Register':'Login' " icon="pi pi-user"
                            class="w-full"></button>
                </div>

            </div>

        </form>

        <form [formGroup]="registerForm" *ngIf="isRegisterMode" autocomplete="off">
            <div class="p-fluid p-formgrid grid">

                <div class="col-12">
                    <label for="registerUsername" class="block text-900 font-medium mb-2">Username</label>
                    <input id="registerUsername" type="text" pInputText formControlName="username"
                           [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls.username.errors &&
                                            (registerForm.controls.username.touched || registerForm.controls.username.dirty)}">
                    <div *ngIf="registerForm.controls.username.errors && (registerForm.controls.username.touched ||
                                       registerForm.controls.username.dirty) ">
                        <small *ngIf="registerForm.hasError('required','username')"
                               class="p-error">Username is required.
                        </small>
                        <small *ngIf="registerForm.hasError('minLength','username')"
                               class="p-error">Min username length is 3.
                        </small>
                        <small *ngIf="registerForm.hasError('maxLength','username')"
                               class="p-error">Max username length is 20.
                        </small>
                    </div>
                </div>

                <div class="col-6">
                    <label for="registerFirstName" class="block text-900 font-medium mb-2">First Name</label>
                    <input id="registerFirstName" type="text" pInputText formControlName="firstName"
                           [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls.firstName.errors &&
                                            (registerForm.controls.firstName.touched || registerForm.controls.firstName.dirty)}">
                    <div *ngIf="registerForm.controls.firstName.errors && (registerForm.controls.firstName.touched ||
                                       registerForm.controls.firstName.dirty) ">
                        <small *ngIf="registerForm.hasError('required','firstName')"
                               class="p-error">First Name is required.
                        </small>
                    </div>
                </div>

                <div class="col-6">
                    <label for="registerLastName" class="block text-900 font-medium mb-2">Last Name</label>
                    <input id="registerLastName" type="text" pInputText formControlName="lastName"
                           [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls.lastName.errors &&
                                            (registerForm.controls.lastName.touched || registerForm.controls.lastName.dirty)}">
                    <div *ngIf="registerForm.controls.lastName.errors && (registerForm.controls.lastName.touched ||
                                       registerForm.controls.lastName.dirty) ">
                        <small *ngIf="registerForm.hasError('required','lastName')"
                               class="p-error">Last Name is required.
                        </small>
                    </div>
                </div>

                <div class="col-12">
                    <label class="block text-900 font-medium mb-2">Gender</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-12">
                            <p-radioButton inputId="male" name="gender" formControlName="gender"
                                           [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls.gender.errors && (registerForm.controls.gender.touched ||
                           registerForm.controls.gender.dirty)}"
                                           value="Male"></p-radioButton>
                            <!--suppress XmlInvalidId -->
                            <label for="male">Male</label>
                        </div>
                        <div class="field-radiobutton col-12">
                            <p-radioButton inputId="female" name="gender" formControlName="gender"
                                           [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls.gender.errors && (registerForm.controls.gender.touched ||
                           registerForm.controls.gender.dirty)}"
                                           value="Female"></p-radioButton>
                            <!--suppress XmlInvalidId -->
                            <label for="female">Female</label>
                        </div>
                    </div>
                    <div *ngIf="registerForm.controls.gender.errors && (registerForm.controls.gender.touched ||
                           registerForm.controls.gender.dirty) ">
                        <div *ngIf="registerForm.hasError('required','gender')">
                            <small class="p-error">Gender is required</small>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="registerEmail" class="block text-900 font-medium mb-2">Email</label>
                    <input id="registerEmail" type="text" pInputText formControlName="email"
                           [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls.email.errors &&
                                            (registerForm.controls.email.touched || registerForm.controls.email.dirty)}">
                    <div *ngIf="registerForm.controls.email.errors && (registerForm.controls.email.touched ||
                                       registerForm.controls.email.dirty) ">
                        <div *ngIf="registerForm.hasError('required','email')">
                            <small class="p-error">Email is required.</small>
                        </div>
                        <div *ngIf="registerForm.hasError('email','email')">
                            <small class="p-error">Email format is invalid.</small>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="password1" class="block text-900 font-medium mb-2">Password</label>
                    <input id="password1" type="password" pInputText formControlName="password"
                           autocomplete="new-password"
                           [ngClass]="{'ng-invalid ng-dirty' : registerForm.controls.password.errors &&
                                            (registerForm.controls.password.touched || registerForm.controls.password.dirty)}">
                    <div *ngIf="registerForm.controls.password.errors && (registerForm.controls.password.touched ||
                                       registerForm.controls.password.dirty) ">
                        <div *ngIf="registerForm.hasError('required','password')">
                            <small class="p-error">Password is required.</small>
                        </div>
                        <div *ngIf="registerForm.hasError('minLength','password')">
                            <small class="p-error">Password minimal length is 6.</small>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <p-messages [value]="registerMsg"></p-messages>
                </div>

                <div class="col-12">
                    <button pButton pRipple (click)="onRegister()" [loading]="isRegisterButtonLoading"
                            [label]="'Register'" icon="pi pi-user"
                            class="w-full"></button>
                </div>

            </div>

        </form>

    </ng-template>
</p-dialog>

<!-- on User Profile Name clicked-->
<p-menu #menu [popup]="true" [model]="userMenu"></p-menu>
