<!-- LOADING SPINNER -->
<!--<div class="progress-spinner" *ngIf="!userAuthService.isDoneLoadConfig">-->
<!--    <p-progressSpinner></p-progressSpinner>-->
<!--</div>-->
<ngx-spinner name="start" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#5b8de2" type = "pacman" [fullScreen] = "true"></ngx-spinner>

<div class="layout-wrapper" [ngClass]="{
                                'layout-theme-light':!config.dark,
                                'layout-theme-dark':config.dark,
                                'p-ripple-disabled': !config.ripple, 'p-input-filled': config.inputStyle === 'filled'}">
    <ngx-loading-bar height="6px" color="var(--primary-color)"></ngx-loading-bar>
    <app-navbar></app-navbar>
    <div>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
    <app-config></app-config>
    <div *ngIf="menuActiveMobile" class="layout-mask p-component-overlay"></div>
</div>

<!--Confirm Dialog-->
<p-confirmDialog #cd [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                 icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="cd.reject()"></button>
        <button pButton pRipple
                (click)="cd.accept()"
                icon="pi pi-check" class="p-button-text" label="Yes"
        ></button>
    </ng-template>
</p-confirmDialog>
