<div class="layout-wrapper" [ngClass]="{
                                'layout-theme-light':!config.dark,
                                'layout-theme-dark':config.dark,
                                'p-ripple-disabled': !config.ripple, 'p-input-filled': config.inputStyle === 'filled'}">
    <ngx-loading-bar height="6px" color="var(--primary-color)"></ngx-loading-bar>
    <app-navbar></app-navbar>
    <div>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
    <app-config></app-config>
    <div *ngIf="menuActiveMobile" class="layout-mask p-component-overlay"></div>
</div>
