<div class="p-5 pb-0 flex flex-column flex-auto">
    <div class="card">
        <div class="grid">
            <div class="col-12 lg:col-6 text-center">
                <img
                    lazyLoad="assets/images/blocks/ecommerce/productoverview/{{images1[selectedImageIndex1]}}"
                    class="mb-3 w-24rem"/>
                <div class="grid justify-content-center">
                    <div *ngFor="let image of images1; let i = index" class="col-3 ">
                        <img src="assets/images/blocks/ecommerce/productoverview/{{image}}"
                             class="w-7rem cursor-pointer border-2 border-round border-transparent transition-colors transition-duration-150"
                             [ngClass]="{'border-primary': selectedImageIndex1 === i}"
                             (click)="selectedImageIndex1 = i"/>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 py-3 lg:pl-6">
                <div class="flex align-items-center text-xl font-medium text-900 mb-4">
                    <span>Product Title Placeholder</span>
                </div>
                <span class="text-900 font-medium text-3xl block mb-5">$120</span>

                <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between mb-5">
                    <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" min="0"
                                   inputStyleClass="w-3rem text-center" [(ngModel)]="quantity1"
                                   decrementButtonClass="p-button-text" incrementButtonClass="p-button-text"
                                   incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
                    <div class="flex align-items-center flex-1 mt-3 sm:mt-0 ml-0 sm:ml-5">
                        <button pButton pRipple label="Add to Cart" class="flex-1 mr-5"></button>
                        <i class="pi text-2xl cursor-pointer"
                           [ngClass]="{'pi-heart text-600': !liked1, 'pi-heart-fill text-orange-500': liked1}"
                           (click)="liked1 = !liked1"></i>
                    </div>
                </div>

                <ol class="list-none p-0 m-0 surface-100 text-center text-900">
                    <li class="line-height-3 p-3 font-bold border-bottom-1 border-300">Product Description</li>
                    <li class="line-height-3 p-3 border-bottom-1 border-300">Sed tempus urna et pharetra. Metus
                        vulputate eu scelerisque felis imperdiet proin fermentum.
                    </li>
                    <li class="line-height-3 p-3 border-bottom-1 border-300">Total calories for this product is 320
                        cals
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
