<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 lg:col-6 text-center">
            <app-image-loader></app-image-loader>
            <img [lazyLoad]="apiBaseUrl +'/'+ projectName +'/images/customer/product/download/file?' +
                                'imageName=' + product?.images[selectedImageIndex]?.imageName + '&' +
                                'productId=' + product?.id"
                 [alt]="product?.name"
                 class="mb-3 w-24rem h-18rem"/>

            <div class="grid justify-content-center">
                <!--                <div class="flex">-->
                <!--                    <p-skeleton width="7rem" height="5rem" styleClass="mr-2"></p-skeleton>-->
                <!--                    <p-skeleton width="7rem" height="5rem" styleClass="mr-2"></p-skeleton>-->
                <!--                    <p-skeleton width="7rem" height="5rem"></p-skeleton>-->
                <!--                </div>-->
                <div *ngFor="let image of product?.images; let i = index" class="col-3">
                    <img [lazyLoad]=" apiBaseUrl +'/'+ projectName +'/images/customer/product/download/file?' +
                                                'imageName=' + image.imageName + '&' +
                                                'productId=' + product?.id "
                         class="w-7rem h-5rem cursor-pointer border-2 border-round border-transparent transition-colors transition-duration-150"
                         [ngClass]="{'border-primary': selectedImageIndex === i}"
                         (click)="selectedImageIndex = i"/>
                </div>
            </div>
        </div>
        <div *ngIf="cartService.isDoneLoadProductInfo" class="col-12 lg:col-6 py-3 lg:pl-6">
            <div class="flex align-items-center justify-content-between text-xl font-medium text-900 mb-2">
                <span>{{product?.name}}</span>
                <button *ngIf="cartService.isInCart" (click)="onDeleteFromCart()" pButton pRipple icon="pi pi-trash"
                        class="p-button-danger p-button-text p-button-rounded"></button>
            </div>
            <span class="text-900 font-medium text-3xl block mb-5">
                {{product?.unitPrice | currency:'Rp. ':
                'symbol':'3.0'}}
            </span>

            <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between mb-5">
                <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" min="1"
                               inputStyleClass="w-3rem text-center" [(ngModel)]="this.currentQuantity"
                               decrementButtonClass="p-button-text" incrementButtonClass="p-button-text"
                               incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
                <div class="flex align-items-center flex-1 mt-3 sm:mt-0 ml-0 sm:ml-5">
                    <button
                        (click)="cartService.onSubmitProductToCart(product?.id, this.currentQuantity,
                        this.userAuthService.customer['id'], this.index)"
                        pButton pRipple
                        [label]="cartService.isInCart ? 'Update Cart': 'Add To Cart'"
                        class="flex-1 mr-5"></button>
                    <i class="pi text-2xl cursor-pointer"
                       [ngClass]="{'pi-heart text-600': !liked, 'pi-heart-fill text-orange-500': liked}"
                       (click)="liked = !liked"></i>
                </div>
            </div>

            <ol class="list-none p-0 m-0 surface-100 text-center text-900">
                <li class="line-height-3 p-3 font-bold border-bottom-1 border-300">Product Description</li>
                <li class="line-height-3 p-3 border-bottom-1 border-300">
                    {{product?.description}}
                </li>
                <li class="line-height-3 p-3 border-bottom-1 border-300">Total calories for this product
                    is {{product?.totalCalories}} cals
                </li>
            </ol>
        </div>
        <div *ngIf="!cartService.isDoneLoadProductInfo" class="col-12 lg:col-6 py-3 lg:pl-6">
            <div class="align-items-center text-xl font-medium text-900 mb-4">
                <p-skeleton width="9rem" height="1.5rem"></p-skeleton>
            </div>
            <span class="text-900 font-medium text-3xl block mb-5">
                            <p-skeleton width="10rem" height="3rem"></p-skeleton>
            </span>

            <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between mb-5">
                <p-skeleton width="8rem" height="3rem"></p-skeleton>

                <div class="flex align-items-center flex-1 mt-3 sm:mt-0 ml-0 sm:ml-5">
                    <p-skeleton width="100%" height="3rem" class="flex-1 mr-5"></p-skeleton>
                    <p-skeleton width="3rem" height="3rem"></p-skeleton>

                </div>
            </div>

            <p-skeleton height="8rem"></p-skeleton>

        </div>
    </div>
</div>
